:root {
  --box: #191F28 !important;
  --box-wording: #f5f5f5 !important;
  --paragraph: #f5f5f5 !important;
  --background: #f5f5f5 !important;
  --lattice: rgba(255, 255, 255, .90) !important;
}

#one {
  color: var(--box-wording);
  background-color: var(--box);
  font-size:1.25rem;
  width: auto;
  display:flex;
  position: relative;
  align-items:center;
  vertical-align:middle;
  align-content:center;
  font-family:Montserrat;
  padding:7px;
  box-shadow: 2px 2px .2px .1px rgba(0, 0, 0, 0.744);
}
.image-fluid3 {
  font-family:Montserrat;
  align-items:center;
  vertical-align:middle;
  align-content:center;
  position: relative;
  display:flex;
  width: 41px;
  height: 41px;
  padding-right:0px;
  margin-right:0px;
}
.navbar {
  align-items: center;
  display: flex;
  width: 100%;
  z-index:1;
  list-style: none;
  font-size:1.25rem;
  }
.navcontainer {
  position:absolute;
  margin-left:70px;
  margin-top:20px;
  position:fixed;
  width:100%;
  margin: 5;
  padding: 5;
  align-content: center;
  justify-content: center;
  align-items: center;
  display:flex;
  text-align: center;
}
ul {
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: block;
  margin-block-start: 1em solid transparent;
  margin-block-end: 1em solid transparent;
  margin-inline-start: 0px solid transparent;
  margin-inline-end: 0px solid transparent;
  padding-inline-start: 40px solid transparent;
  }
li {
  list-style-type: none;
  float: left;
  display: block;
  padding: 10px;
  text-align: center;
  color: #191F28
  }
  #tops {
    font-family:Montserrat;
    align-items:center;
    vertical-align:middle;
    padding:1px;
    margin:1px;
    align-content:center;
    border: 3px solid transparent;
  }
a {
  color: #191F28
  }

#tops:hover {
  border: 3px solid black;
}

p {
  color: var(--paragraph);
  font-size:1.25rem;
  z-index: 2;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  max-width: 600px;
  width: 80%;
  overflow: hidden;
  overflow-wrap: break-word;
  }

  #welcomelink {
    color: var(--box-wording);
    font-family: Montserrat;
    font-size: 7rem !important;
    font-weight: 600;
    width:450px;
    text-shadow:
      1px 0px 1px #ccc, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
    position: absolute;
    align-items: center;
    display: flex;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    }

html,
body {
  margin: 0;
  padding: 0;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

body {
  background-color: var(--background);
}

/* #191F28; */
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  margin: 5;
  padding: 5;
  align-content: center;
  justify-content: center;
  align-items: center;
  display:flex;
  text-align: center;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0 0 rgba(0, 0, 0, 0.02);
}

.container2 {
  color: var(--box);
  margin: 1em;
  padding: 1em;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  height:200px;
  max-width: 600px;
  width:70%;
  background-color: var(--box);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.744);
}
.container2:hover {
  background-color: var(--box-wording);
  color: var(--box);
}
#welcomelink:hover {
  color: var(--box);
}
.container3 {
  align-items: center;
  display:flex;
  text-align: center;
  content: center;
  margin: auto;
  padding: auto;
}
#other {
  align-items: center;
  display:flex;
  text-align: center;
  margin: auto;
  width:80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  overflow-wrap: break-word;
  transform: none !important;
}






@media (max-width:900px){
  .navbar{
      width:calc(100%);
      font-size:1.125rem;
      bottom:0;
      align-items: left;
      display: flex;
      z-index:1;
      list-style: none;
  }
  .navcontainer {
    position:fixed;
    margin-left:20px;
    width:100%;
    align-content: left;
    justify-content: center;
    align-items: center;
    display:flex;
    text-align: center;
  }
  .container2 {
    margin: 1em;
    padding: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:200px;
    width:70%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.744);
  }
  .container3 {
    align-items: center;
    display:flex;
    text-align: center;
    content: center;
    margin: auto;
    padding: auto;
  }
  #other {
    align-items: center;
    display:flex;
    text-align: center;
    margin: auto;
    width:80%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: none !important;
  }
  .body{
      -webkit-transform:translate(calc(100% - 50%),0);
      -moz-transform:translate(calc(100% - 50%),0);
      -ms-transform:translate(calc(100% - 50%),0);
      -o-transform:translate(calc(100% - 50%),0);
      transform:translate(calc(100% - 50%),0);
      -webkit-transition:left 250ms ease;
      -moz-transition:left 250ms ease;
      -o-transition:left 250ms ease;
      transition:left 250ms ease
  }

  p {
    font-size:1.125rem;
    z-index: 2;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 100%;
    }
    #welcomelink {
      font-family: Montserrat;
      font-size: 6rem !important;
      font-weight: 600;
      width:100%;
      text-shadow:
        1px 0px 1px #ccc, 0px 1px 1px #eee, 
        2px 1px 1px #ccc, 1px 2px 1px #eee,
        3px 2px 1px #ccc, 2px 3px 1px #eee,
        4px 3px 1px #ccc, 3px 4px 1px #eee,
        5px 4px 1px #ccc, 4px 5px 1px #eee,
        6px 5px 1px #ccc, 5px 6px 1px #eee,
        7px 6px 1px #ccc;
      margin: 5;
      padding: 5;
      align-content: center;
      justify-content: center;
      align-items: center;
      display:flex;
      text-align: center;
      }
}

@media (max-width:500px){
  .navbar{
    width:calc(100%);
    font-size:1rem;
    bottom:0;
    align-items: left;
    display: flex;
    z-index:1;
    list-style: none;
}
.navcontainer {
  position:fixed;
  margin-left:20px;
  width:100%;
  align-content: left;
  justify-content: center;
  align-items: center;
  display:flex;
  text-align: center;
}
.container2 {
  margin: 1em;
  padding: 1em;
  align-items: center;
  display: flex;
  justify-content: center;
  align-content:center;
  text-align: center;
  height:200px;
  min-width: 300px;
  width:70%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.744);
}
.body{
  -webkit-transform:translate(calc(100% - 50%),0);
  -moz-transform:translate(calc(100% - 50%),0);
  -ms-transform:translate(calc(100% - 50%),0);
  -o-transform:translate(calc(100% - 50%),0);
  transform:translate(calc(100% - 50%),0);
  -webkit-transition:left 250ms ease;
  -moz-transition:left 250ms ease;
  -o-transition:left 250ms ease;
  transition:left 250ms ease
}
  #welcomelink {
    font-family: Montserrat;
    font-size: 5rem !important;
    font-weight: 600;
    text-shadow:
      1px 0px 1px #ccc, 0px 1px 1px #eee, 
      2px 1px 1px #ccc, 1px 2px 1px #eee,
      3px 2px 1px #ccc, 2px 3px 1px #eee,
      4px 3px 1px #ccc, 3px 4px 1px #eee,
      5px 4px 1px #ccc, 4px 5px 1px #eee,
      6px 5px 1px #ccc, 5px 6px 1px #eee,
      7px 6px 1px #ccc;
    align-items: center;
    display: flex;
    text-align: center;
    text-decoration: none;
    }
    p {
      font-size:1rem;
      z-index: 2;
      margin: 0;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      width: 80%;
      overflow: hidden;
      overflow-wrap: break-word;
      }
      #other {
        align-items: center;
        display:flex;
        text-align: center;
        margin: auto;
        width:80%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        overflow-wrap: break-word;
        transform: none !important;
      }
  }