
 html, body {
  background-color: #191F28;
  text-align:center;
  }
.navbar {
  align-items: center;
  display: flex;
  width: 100%;
  z-index:1;
  list-style: none;
  }
ul {
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  }
li {
  list-style-type: none;
  float: left;
  display: block;
  padding: 10px;
  text-align: center;
  color: #fafafa
  }
a {
  color: #fafafa
  }
a:hover {
  color:#191F28;
  background-color: #fafafa;
}
p {
  color: #fafafa;
  font-size:18px;
  z-index: 2;
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  }
#watermelon {
    color: #fafafa;
    font-size:18px;
    z-index: 2;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}
#watermelon:hover {
  background-color:#fafafa;
  color: black !important;
  text-shadow: 5px 5px white;
}
#welcome {
    color: #fafafa;
    font-size: 200px !important;
    text-shadow: 5px 5px black;
    z-index: 2;
    margin: 0;
    position: relative;
    transform: translate(-50%, -50%) !important;
    text-decoration: none;
    }
#welcome:hover {
  color: black !important;
  text-shadow: 5px 5px white;
  }
  html, body {
    width: 100%;
  }
  
  #particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  
