<style>
    .container-fluid {
    }
    h1 {
      color: #000000;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    .row > [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
    .book-body{
      background: url('{{ page.bgimage }}') !important;
      background-repeat: none;
    }
    :root {
        --light-background-body: #fafafa !important;
        --light-background-panel: #fafafa !important;
        --light-background-dropdown: var(--light-background-panel) !important;
        --light-background-nav: rgba(255, 255, 255, .90) !important;
        --light-background-footer: rgba(255, 255, 255, .90) !important;
        --light-background-container: rgba(0, 0, 0, .80) !important;
        --light-element: black !important;
        --light-element-hover: white !important;
        --light-element-active: #fafafa !important;
        --light-element-links: #3eb1d0 !important;
        --light-element-fa: #7e888b !important;
        --light-element-fa-hover: black !important;
        --light-element-hightlight: #252737 !important;
        --light-element-headings: black !important;
        --light-element-footer: var(--light-element) !important;
        --light-element-title: var(--light-element);
        --light-main-headings: black !important;
        --light-dropdown-button: #7e888b !important;
        --light-dropdown-button-hover: black !important;
        --light-panel-break: #bdcadb !important;

        /* Theme 1 - Color*/
        --warm-background-body: #004E7C !important;
        --warm-background-panel: #5c5f58 !important;
        --warm-background-dropdown: var(--warm-background-panel) !important;
        --warm-background-nav: var(--warm-background-panel) !important;
        --warm-background-footer: rgba(188, 193, 210, .75) !important;
        --warm-background-container: rgba(0, 0, 0, .80) !important;
        --warm-element: white !important;
        --warm-element-hover: #844d36 !important;
        --warm-element-active: #fafafa !important;
        --warm-element-links: #3eb1d0 !important;
        --warm-element-fa: #364149 !important;
        --warm-element-fa-hover: black !important;
        --warm-element-hightlight: #591C0B !important;
        --warm-element-headings: black !important;
        --warm-element-footer: var(--warm-element) !important;
        --warm-element-title: var(--warm-element);
        --warm-main-headings: white !important;
        --warm-dropdown-button: #a6a6a6 !important;
        --warm-dropdown-button-hover: black !important;
        --warm-panel-break: #bdcadb !important;

        /* Theme 2 - Dark*/
        --dark-background-body: #121212 !important;
        --dark-background-panel: rgba(32,33,35) !important;
        --dark-background-dropdown: rgba(0, 0, 0, .80) !important;
        --dark-background-nav: rgba(0, 0, 0, .80) !important;
        --dark-background-footer: rgba(255, 255, 255, .90) !important;
        --dark-background-container: rgba(0, 0, 0, .80) !important;
        --dark-element: white !important;
        --dark-element-hover: #f4f4f5 !important;
        --dark-element-active: #f4f4f5 !important;
        --dark-element-links: rgba(124,153,248) !important;
        --dark-element-fa: #bdcadb !important;
        --dark-element-fa-hover: white !important;
        --dark-element-hightlight: #252737 !important;
        --dark-element-headings: #bdcadb !important;
        --dark-element-footer: black !important;
        --dark-element-title: var(--dark-element);
        --dark-main-headings: white !important;
        --dark-dropdown-button: #a6a6a6 !important;
        --dark-dropdown-button-hover: black !important;
        --dark-panel-break: #bdcadb !important;
    }
    .book:not(book-body) .book-body .book-header .fa {
    color: var(--light-element-fa) !important;
    }
    .book .book-body .book-header .fa:hover {
    color: var(--light-element-fa-hover) !important;
    }
</style>
