{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

    <link rel="icon" media="(min-width: 800px) and (prefers-color-scheme:dark)" href="asests/image/pngfavicon-dark-big.png" />
    <link rel="icon" media="(min-width: 800px) and (prefers-color-scheme:light)" href="assets/image/pngfavicon-light-big.png" />
    <link rel="icon" media="(max-width: 799px) and (prefers-color-scheme:dark)" href="assets/image/pngfavicon-dark-small.png" />
    <link rel="icon" media="(max-width: 799px) and (prefers-color-scheme:light)" href="assets/image/pngfavicon-light-small.png" />

    <script src="https://unpkg.com/favicon-switcher@1.2/dist/index.js" crossorigin="anonymous" type="application/javascript"></script>
