<div style="!important;font-size:14px;position:relative;line-height:.50;text-align:center;">
<footer class="footer">
<div class="nav__item"><p style="!important;font-size:13px;position:relative;line-height:.5;align-content:center;text-align:center;">Page Last Updated: {{ page.date | date: '%B %d, %Y' }}</p></div>
  <div class="footer__addr">
    <h1 class="footer__logo">IMTechEd</h1>
    <h2>Contact</h2>
    <p><a id="contactbutton" href="Mailto:imteched@gmail.com">Email</a></p>
  </div>
  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Media</h2>
      <ul class="nav__ul">
        <li>
          <a href="#">Online</a>
        </li>
        <li>
          <a href="#">Print</a>
        </li>
        <li>
          <a href="#">Alternative Ads</a>
        </li>
      </ul>
    </li>
    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Topics</h2>
      
      <ul class="nav__ul nav__ul--extra">
        <li>
          <a href="#">Cardiology</a>
        </li>
        
        <li>
          <a href="#">Nephrology</a>
        </li>
        
        <li>
          <a href="#">Digital Signage</a>
        </li>
        <li>
          <a href="#">Automation</a>
        </li>
        <li>
          <a href="#">Artificial Intelligence</a>
        </li>
        <li>
          <a href="#">IoT</a>
        </li>
      </ul>
    </li>
    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>
      <ul class="nav__ul">
        <li>
          <a href="/resources/apache_mitlicense">Privacy Policy</a>
        </li>
        <li>
          <a href="/resources/disclaimer/">Terms of Use</a>
        </li>
        <li>
          <a href="/pages/about/">About</a>
        </li>
      </ul>
    </li>
  </ul>
  
  <div class="legal">
    <p><a class="inverted" style="filter:invert(50%);">&copy; Copyright 2024</a><a>J. Austin Straley, DO</a></p>
    <div class="legal__links" style="align-content:center;text-align:center;">
    </div>
  </div>
</footer>
</div>