<!-- <script type="module" src="{{site.baseurl}}/dist/bundle.js"></script> -->
   <!-- <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
  Load our React component. -->
<script src="{{site.baseurl}}/assets/gitbook/gitbook.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/theme.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-fontsettings/fontsettings.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-sharing/buttons.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-search-pro/jquery.mark.min.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-search-pro/search.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-back-to-top-button/plugin.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-insert-logo/lib/plugin.js"></script>