---
---


#footer {
    width: 100%;
    background: rgba(255, 255, 255, .90);
    padding: 10px;
    justify-content: space-around;
}

.color-theme-2 #footer {
    width: 100%;
    color: #bcc1d2 !important;
    background: rgba(17,17,17,.90)!important;
    padding: 10px;
    justify-content: space-around;
}
h6 {
    text-align: center;
    color: black;
    font-size: 170%;
    margin: 15px;
    padding: 10px;
    border: 2px solid black;
  }
.color-theme-2 #footer h6 {
    color: #bcc1d2 !important;
    border: 2px solid #bcc1d2;
}

#content-wrap {
    padding-bottom: 5rem;    /* Footer height */
}

.mb-2 {
    margin-bottom:4rem!important;
}

/* About-copy differences */
.book-body {
    overflow-y: scroll;
    background: rgba(0, 0, 0, .01);
}

.book-body .book-header {
    background: rgba(255, 255, 255, .90);
}

.book.with-summary .book-body .book-header {
    position: fixed;
    width: calc(100% - 300px);
}

.book-body .body-inner {
    position: absolute;
    margin-top: 50px;
    min-height: calc(100% - 50px);
}

.book-body .body-inner .page-wrapper {
    min-height: calc(100% - 46px);
}

.book-body .body-inner .page-wrapper .page-inner {
    padding-bottom: 20px;
}

@media (max-width: 1240px) {
    .book-body .body-inner .navigation {
        max-width: calc(50% - 3px);
        width: calc(50% - 3px);
    }
    .book .book-body .book-header {
        position: fixed;
        width: 100%;
        background: rgba(255, 255, 255, .90);
    }
}

.book .book-body .book-header {
    background-color: rgba(255, 255, 255, .80);
}

.book .book-summary {
    background-color: rgba(255, 255, 255, .80);
    color: rgb(54, 65, 73);
}

.book.color-theme-1 .book-summary {
    color: #afa790 !important;
    background: #2d3143 !important;
    border-right: none;
}

.book.color-theme-1 .book-body .book-header {
    background: #2d3143 !important;
}

.book.color-theme-1 .book-body .book-header .fa {
    color: #afa790 !important;
}

.book.color-theme-2 .book-summary {
    color: #bcc1d2 !important;
    background: #111111 !important;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.book.color-theme-2 .book-body .book-header {
    background: #111111 !important;
}

/* .page-inner {
    max-width: {{ site.page_width | default: '800px' }};
} */
/* .back-to-top {
    right: calc((100% - 300px - min(100% - 300px, {{ site.page_width | default: '800px' }})) / 2 + 25px);
}*/

/* Style for search page on mobile screens */

#book-search-input-link {
    padding: 6px;
    background: 0 0;
    background: inherit;
    transition: top .5s ease;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
    display: none;
}

:root {
    --c-tip: #42b983;
    --c-tip-bg: #e2f5ec;
    --c-tip-text: #215d42;
    --c-tip-title: #359469;
    --c-warning: #e7c000;
    --c-warning-bg: rgba(255, 229, 100, .25);
    --c-warning-text: #6b5900;
    --c-warning-title: #b29400;
    --c-danger: #c00;
    --c-danger-bg: #ffe0e0;
    --c-danger-text: #600;
    --c-danger-title: #c00;
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}
