---
---

.book-body {
    overflow-y: scroll;
}

.book-body .book-header {
    position: fixed;
    width: 100%;
}

.book.with-summary .book-body .book-header {
    position: fixed;
    width: calc(100% - 300px);
}

.book-body .body-inner {
    position: absolute;
    margin-top: 50px;
    min-height: calc(100% - 50px);
}

.fa {
    font-size: 15px;
}

.book-body .body-inner .page-wrapper {
    min-height: calc(100% - 46px);
}

.book-body .body-inner .page-wrapper .page-inner {
    padding-bottom: 20px;
}

@media (max-width: 1240px) {
    .book-body .body-inner .navigation {
        max-width: calc(50% - 3px);
        width: calc(50% - 3px);
    }
}

.book .book-body .book-header {
    background: #ffffff;
}

/*.book .book-body .book-header .fa {
    color: rgb(54, 65, 73);
}*/

.book .book-summary {
    background-color:#ffffff;
}

.book-summary ul.summary li.active>a{
    color:#008cff;
    background:0 0;
    text-decoration:none;
}

/*.book.color-theme-1 .book-summary {
    color: #afa790 !important;
    background: #2d3143 !important;
    border-right: none;
}*/


.book.color-theme-1 .book-body .book-header {
    background: #f3eacb;
}

/*.book.color-theme-1 .book-body .book-header .fa {
    color: #afa790 !important;
}*/

/*.book.color-theme-2 .book-summary {
    color: #bcc1d2 !important;
    background: #111111 !important;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}*/

.book.color-theme-2 .book-body .book-header {
    background: #1c1f2b;
}

.book.color-theme-2 .book-body .book-header .fa{
    color: #bcc1d2 !important;
}

/*.page-inner {
    max-width: {{ site.page_width | default: '800px' }};
}

.back-to-top {
    right: calc((100% - 300px - min(100% - 300px, {{ site.page_width | default: '800px' }})) / 2 + 25px);
}*/

/* scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    /* background-color: rgba(125, 125, 125, 0.2); */
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(7, 17, 27, .2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.2);
    -webkit-border-radius: 6px;
}

/* Style for search page on mobile screens */

#book-search-input-link {
    padding: 6px;
    background: 0 0;
    background: inherit;
    transition: top .5s ease;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
}

#book-search-input-link a {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 38px;
    padding: 7px 7px;
    color: #757575;
}

#book-search-input {
    display: block;
}
#book-search-input-link {
    display: none;
}

@media (max-width: 1240px) {
    #book-search-input {
        display: none;
    }
    #book-search-input-link {
        display: block;
    }
}

#book-search-input-inside {
    padding: 6px;
    background: 0 0;
    transition: top .5s ease;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.07);
    border-top: 1px solid rgba(0,0,0,.07);
    margin-bottom: 10px;
    margin-top: -1px;
}

#book-search-input-inside input {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    line-height: 22px;
    padding: 7px 7px;
    color: inherit;
}


/* Custom font settings */

.book.font-family-0 {
    font-family: Georgia, serif;
}
.book.font-family-1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Render wide tables */

.table-wrapper {
    overflow-x: scroll;
}

/* Tips, warnings, and dangers */

.markdown-section blockquote.block-tip {
    border-color: var(--c-tip);
    background-color: var(--c-tip-bg);
    color: var(--c-tip-text);
    font-family: var(--font-family);
}

.markdown-section blockquote.block-tip h1 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h2 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h3 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h4 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h5 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-tip h6 {
    color: var(--c-tip-title);
}

.markdown-section blockquote.block-warning {
    border-color: var(--c-warning);
    background-color: var(--c-warning-bg);
    color: var(--c-warning-text);
    font-family: var(--font-family);
}

.markdown-section blockquote.block-warning h1 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h2 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h3 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h4 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h5 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-warning h6 {
    color: var(--c-warning-title);
}

.markdown-section blockquote.block-danger {
    border-color: var(--c-danger);
    background-color: var(--c-danger-bg);
    color: var(--c-danger-text);
    font-family: var(--font-family);
}

.markdown-section blockquote.block-danger h1 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h2 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h3 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h4 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h5 {
    color: var(--c-danger-title);
}

.markdown-section blockquote.block-danger h6 {
    color: var(--c-danger-title);
}

:root {
    --c-tip: #42b983;
    --c-tip-bg: #e2f5ec;
    --c-tip-text: #215d42;
    --c-tip-title: #359469;
    --c-warning: #e7c000;
    --c-warning-bg: rgba(255, 229, 100, .25);
    --c-warning-text: #6b5900;
    --c-warning-title: #b29400;
    --c-danger: #c00;
    --c-danger-bg: #ffe0e0;
    --c-danger-text: #600;
    --c-danger-title: #c00;
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}


/* General */
.book .book-header .font-settings .font-enlarge {
    line-height: 30px;
    font-size: 1.4em;
  }
  .book .book-header .font-settings .font-reduce {
    line-height: 30px;
    font-size: 1em;
  }
  .book.font-size-0 .book-body .page-inner section {
    font-size: 1.2rem;
  }
  .book.font-size-1 .book-body .page-inner section {
    font-size: 1.4rem;
  }
  .book.font-size-2 .book-body .page-inner section {
    font-size: 1.6rem;
  }
  .book.font-size-3 .book-body .page-inner section {
    font-size: 2.2rem;
  }
  .book.font-size-4 .book-body .page-inner section {
    font-size: 4rem;
  }
  .book.font-family-0 {
    font-family: Georgia, serif;
  }
  .book.font-family-1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  
  
  
  
  /* Theme 1 */
  /*
  .color-theme-1 .dropdown-menu {
    background-color: #111111;
    border-color: #7e888b;
  }
  .color-theme-1 .dropdown-menu .dropdown-caret .caret-inner {
    border-bottom: 9px solid #111111;
  }
  .color-theme-1 .dropdown-menu .buttons {
    border-color: #7e888b;
  }
  .color-theme-1 .dropdown-menu .button {
    color: #afa790;
  }
  .color-theme-1 .dropdown-menu .button:hover {
    color: #73553c;
  }
  .book.color-theme-1 .book-body {
    color: #704214;
    background: #f3eacb;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section {
    background: #f3eacb;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal {
    color: #704214;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a {
    color: inherit;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h1,
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h2,
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h3,
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h4,
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h5,
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h6 {
    color: #704214;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h1,
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h2 {
    border-color: #e1b853;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h6 {
    color: #e1b853;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal hr {
    background-color: #e1b853;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal blockquote {
    border-color: #e1b853;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal pre,
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal code {
    background: #fdf6e3;
    color: #657b83;
    border-color: #f8df9c;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal .highlight {
    background-color: #d2c748;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table th,
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table td {
    border-color: #f5d06c;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table tr {
    color: inherit;
    background-color: #fdf6e3;
    border-color: #444444;
  }
  .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
    background-color: #fbeecb;
  }
  .book.color-theme-1 .book-header {
    color: #afa790;
    background: transparent;
  }
  .book.color-theme-1 .book-header .btn {
    color: #afa790;
  }
  .book.color-theme-1 .book-header .btn:hover {
    color: #73553c;
    background: none;
  }
  .book.color-theme-1 .book-header h1 {
    color: #704214;
  }
  .book.color-theme-1 .book-body .navigation {
    color: #afa790;
  }
  .book.color-theme-1 .book-body .navigation:hover {
    color: #73553c;
  }
   .book.color-theme-1 .book-summary {
    color: #afa790;
    background: #111111;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
  }
  .book.color-theme-1 .book-summary .book-search {
    background: transparent;
  }
  .book.color-theme-1 .book-summary .book-search input,
  .book.color-theme-1 .book-summary .book-search input:focus {
    border: 1px solid transparent;
  }
  .book.color-theme-1 .book-summary ul.summary li.divider {
    background: #7e888b;
    box-shadow: none;
  }
  .book.color-theme-1 .book-summary ul.summary li i.fa-check {
    color: #33cc33;
  }
  .book.color-theme-1 .book-summary ul.summary li.done > a {
    color: #877f6a;
  }
  .book.color-theme-1 .book-summary ul.summary li a,
  .book.color-theme-1 .book-summary ul.summary li span {
    color: #877f6a;
    background: transparent;
    font-weight: 600;
  }
  .book.color-theme-1 .book-summary ul.summary li.active > a,
  .book.color-theme-1 .book-summary ul.summary li a:hover {
    color: #704214;
    background: transparent;
    font-weight: 600;
  }
  */
  
  
  
  
  /* Theme 2 */
  
  .color-theme-2 .dropdown-menu {
    background-color: #2d3143;
    border-color: #272a3a;
  }
  .color-theme-2 .dropdown-menu .dropdown-caret .caret-inner {
    border-bottom: 9px solid #2d3143;
  }
  .color-theme-2 .dropdown-menu .buttons {
    border-color: #272a3a;
  }
  .color-theme-2 .dropdown-menu .button {
    color: #62677f;
  }
  .color-theme-2 .dropdown-menu .button:hover {
    color: #f4f4f5;
  }
  .book.color-theme-2 .book-body {
    color: #bdcadb;
    background: #1c1f2b;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section {
    background: #1c1f2b;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal {
    color: #bdcadb;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a {
    color: #3eb1d0;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h1,
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h2,
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h3,
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h4,
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h5,
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h6 {
    color: #bdcadb;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h1,
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h2 {
    border-color: #373b4e;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h6 {
    color: #373b4e;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal hr {
    background-color: #373b4e;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal blockquote {
    border-color: #373b4e;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal pre,
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal code {
    background: #2d3143;
    color: #9dbed8;
    border-color: #2d3143;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal .highlight {
    background-color: #282a39;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table th,
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table td {
    border-color: #3b3f54;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table tr {
    color: #b6c2d2;
    background-color: #2d3143;
    border-color: #3b3f54;
  }
  .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
    background-color: #35394b;
  }
  .book.color-theme-2 .book-header {
    color: #7e888b;
    background: transparent;
  }
  .book.color-theme-2 .book-header .btn {
    color: #3b3f54;
  }
  .book.color-theme-2 .book-header .btn:hover {
    color: #fffff5;
    background: none;
  }
  .book.color-theme-2 .book-header h1 {
    color: #bdcadb;
  }
  .book.color-theme-2 .book-body .navigation {
    color: #383f52;
  }
  .book.color-theme-2 .book-body .navigation:hover {
    color: #fffff5;
  }
  .book.color-theme-2 .book-summary {
    color: #bcc1d2;
    background: #2d3143;
    border-right: none;
  }
  .book.color-theme-2 .book-summary .book-search {
    background: transparent;
  }
  .book.color-theme-2 .book-summary .book-search input,
  .book.color-theme-2 .book-summary .book-search input:focus {
    border: 1px solid transparent;
  }
  .book.color-theme-2 .book-summary ul.summary li.divider {
    background: #272a3a;
    box-shadow: none;
  }
  .book.color-theme-2 .book-summary ul.summary li i.fa-check {
    color: #33cc33;
  }
  .book.color-theme-2 .book-summary ul.summary li.done > a {
    color: #62687f;
  }
  .book.color-theme-2 .book-summary ul.summary li a,
  .book.color-theme-2 .book-summary ul.summary li span {
    color: #c1c6d7;
    background: transparent;
    font-weight: 600;
  }
  .book.color-theme-2 .book-summary ul.summary li.active > a,
  .book.color-theme-2 .book-summary ul.summary li a:hover {
    color: #f4f4f5;
    background: #252737;
    font-weight: 600;
  }
  