h5 {
    text-align: center;
}

.markdown-section ul li, .markdown-section ul li::marker {
    padding: 0;
    margin: 0;
    margin-bottom: 0.85em;
    margin-left: 6em;
}
.book .book-body .page-wrapper .page-inner section.normal h2 {
    background-color: var(--light-element-highlight-light);
    font-size: 20px!important;
    line-height: 1;
    margin: 5px!important;
    padding: 5px!important;
}
.book .book-body .page-wrapper .page-inner section.normal h2 a:hover, .book .book-body .page-wrapper .page-inner section.normal a:hover {
    color: #c4a35a!important;
}
.book .book-body .page-wrapper .page-inner section.normal h2 a, .book .book-body .page-wrapper .page-inner section.normal a {
    color: var(--light-element-links)!important;
}
.book .book-body .page-wrapper .page-inner section.normal h2 a:visited, .book .book-body .page-wrapper .page-inner section.normal a:visited {
    color: rgba(119, 34, 0, .5)!important;
}
.book .book-body .page-wrapper .page-inner section.normal h2 a:visited:hover, .book .book-body .page-wrapper .page-inner section.normal a:visited:hover {
    color: #c4a35a!important;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h2 {
    background-color: var(--warm-element-highlight-light);
    font-size: 20px!important;
    line-height: 1;
    margin: 5px!important;
    padding: 5px!important;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h2 a:hover, .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a:hover {
    color: #c4a35a!important;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h2 a, .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a {
    color: var(--warm-element-links)!important;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h2 a:visited, .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a:visited {
    color: #772200!important;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h2 a:visited:hover, .book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a:visited:hover {
    color: #c4a35a!important;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h2 {
    background-color: var(--dark-element-highlight-light);
    font-size: 20px!important;
    line-height: 1;
    margin: 5px!important;
    padding: 5px!important;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h2 a:hover, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a:hover {
    color: #c4a35a!important;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h2 a, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a {
    color: var(--dark-element-links)!important;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h2 a:visited, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a:visited {
    color: #772200!important;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h2 a:visited:hover, .book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a:visited:hover {
    color: #c4a35a!important;
}