#one {background:#577ca2 !important}
#one em, #one p{color:white}
    #one em:hover{text-decoration: underline;}
    #one:hover{filter:brightness(1.25)}
#two {background-color:#244653}
#two em, #two p{color:white}
    #two em:hover{text-decoration: underline}
    #two:hover{filter:brightness(1.25)}
#three {background-color:#c79467}
#three em, #three p{color:white}
    #three em:hover{text-decoration: underline}
    #three:hover{filter:brightness(1.25)}
#four {background-color:#244653}
#four em, #four p{color:white}
    #four em:hover{text-decoration: underline}
    #four:hover{filter:brightness(1.25)}
#five {background-color:#c79467}
#five em, #five p{color:white}
    #five em:hover{text-decoration: underline}
    #five:hover{filter:brightness(1.25)}
#six {background-color:#c35530}
#six em, #six p{color:white}
    #six em:hover{text-decoration: underline}
    #six:hover{filter:brightness(1.25)}
#seven {background-color:#9b9a85}
#seven em, #seven p{color:white}
    #seven em:hover{text-decoration: underline}
    #seven:hover{filter:brightness(1.25)}
#eight {background-color:#c35530}
#eight em, #eight p{color:white}
    #eight em:hover{text-decoration: underline}
    #eight:hover{filter:brightness(1.25)}
.row {
    width: inherit;
    padding :1px;
}
.col{
    background-color: var(--light-background-panel);
    margin: 16px;
    height: 200px;
    box-shadow: 10px 10px black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: black;
}
.color-theme-1 .col{
    background-color: var(--warm-background-panel);
    margin: 16px;
    height: 200px;
    box-shadow: 10px 10px black;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.color-theme-2 .col{
    background-color: var(--dark-background-panel);            
    margin: 16px;
    height: 200px;
    box-shadow: 10px 10px #fafafa;
    border-style: solid;
    border-width: 1px;
    border-color: #fafafa;
}
p {
text-overflow: ellipsis;
}