:root {
    --c-tip: #42b983;
    --c-tip-bg: #e2f5ec;
    --c-tip-text: #215d42;
    --c-tip-title: #359469;
    --c-warning: #e7c000;
    --c-warning-bg: rgba(255, 229, 100, .25);
    --c-warning-text: #6b5900;
    --c-warning-title: #b29400;
    --c-danger: #c00;
    --c-danger-bg: #ffe0e0;
    --c-danger-text: #600;
    --c-danger-title: #c00;
    --font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-weight: 500;
    --fa-size: 16px;
    /* Theme warm
        - Fa: rgb(114, 119, 122);
        - Fa:hover: black;
        - Element: #364149;
        - Element:active:
        - Element:hover:
        - Background: #fafafa;
        - Highlight
    */
    /* Theme-2 warm*/
    /* - Fa: #bcc1d2;
        - Fa:hover: white;

    /* Theme Base - Light*/
    --light-background-body: white;
    --light-background-panel: #fafafa;
    --light-background-dropdown: white;
    --light-background-nav: white;
    --light-background-footer: rgba(255, 255, 255, .90);
    --light-background-container: rgba(0, 0, 0, .80);
    --light-element: black;
    --light-element-hover: white;
    --light-element-active: #fafafa;
    --light-element-links: #3eb1d0;
    --light-element-fa: #7e888b;
    --light-element-fa-hover: black;
    --light-element-hightlight: #252737;
    --light-element-headings: black;
    --light-element-footer: var(--light-element);
    --light-element-title: var(--light-element);
    --light-main-headings: black;
    --light-dropdown-button: #7e888b;
    --light-dropdown-button-hover: black;
    --light-panel-break: #252737;

    /* Theme 1 - Color*/
    --warm-background-body: #aaa0a0;
    --warm-background-panel: #5c5f58;
    --warm-background-dropdown: var(--warm-background-panel);
    --warm-background-nav: var(--warm-background-panel);
    --warm-background-footer: rgba(188, 193, 210, .75);
    --warm-background-container: rgba(0, 0, 0, .80);
    --warm-element: white;
    --warm-element-hover: #844d36;
    --warm-element-active: #fafafa;
    --warm-element-links: #004E7C;
    --warm-element-fa: white;
    --warm-element-fa-hover: #844d36;
    --warm-element-hightlight: #844d36;
    --warm-element-headings: black;
    --warm-element-footer: var(--warm-element);
    --warm-element-title: var(--warm-element);
    --warm-main-headings: white;
    --warm-dropdown-button: white;
    --warm-dropdown-button-hover: black;
    --warm-panel-break: #bdcadb;

    /* Theme 2 - Dark*/
    --dark-background-body: #121212;  /*#0d1117*/
    --dark-background-panel: rgba(32,33,35);
    --dark-background-dropdown: var(--dark-background-panel);
    --dark-background-nav: rgba(32,33,35);
    --dark-background-footer: rgba(255, 255, 255, .90);
    --dark-background-container: rgba(0, 0, 0, .80);
    --dark-element: white;
    --dark-element-hover: #f4f4f5;
    --dark-element-active: #f4f4f5;
    --dark-element-links:rgba(124,153,248); /*rgba(255,151,160)*/
    --dark-element-fa: #bdcadb;
    --dark-element-fa-hover: white;
    --dark-element-hightlight: rgba(75,75,75);
    --dark-element-headings: #bdcadb;
    --dark-element-footer: black;
    --dark-element-title: var(--dark-element);
    --dark-main-headings: white;
    --dark-dropdown-button: white;
    --dark-dropdown-button-hover: black;
    --dark-panel-break: #bdcadb;
} 

/* ****************NavBar**************** */
/*.book.with-summary .book-body .book-header {
    width: calc(100% - 300px);
}*/
/*.page-inner {
    max-width: {{ site.page_width | default: '800px' }};
}
.back-to-top {
    right: calc((100% - 300px - min(100% - 300px, {{ site.page_width | default: '800px' }})) / 2 + 25px);
}*/

/* Footer height */
#content-wrap {
  padding-bottom: 5rem;
}
.mb-2 {
  margin-bottom:4rem!important;
}
@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(.8) contrast(1.2);
  }
}







/* ****************Theme 0**************** */
mark{
    background:#ff0;
    color:#000
}
/* Title */
.book .book-summary .top-title p{
  text-align: center !important;
  color: var(--light-element-title) !important;
  font-size: 18px;
  text-decoration: none;
}

/*book-header*/
.fa {
  font-size: var(--fa-size) !important;
}
.book {
  font-smooth: always;
  font-weight: var(--font-weight);
}
.book .book-body .book-header .fa {
  color: var(--light-element-fa);
}
.book .book-body .book-header .fa:hover {
  color: var(--light-element-fa-hover);
}
.book .book-header {
  background-color: var(--light-background-nav);
  text-align: justify;
}
.book .book-header h1 {
  /*navbar header */
  color: var(--light-element-headings);
}
.book .book-header .btn {
  color: var(--light-element);
  border-color: var(--light-panel-break)
  /* Search button */
}
.book .book-header .btn:hover {
  color: #fffff5;
  background: none;
}
.book .book-body .book-header {
  background: var(--light-background-nav);
}
.book .book-body .navigation {
  color: var(--light-element);
}
.book .book-body .navigation:hover {
  color: var(--light-element-hover);
/* no action */
}
.book .book-summary {
  color: var(--light-element);
  background: var(--light-background-panel);
  border-right: 1px solid rgba(0,0,0,.07);
}

/*dropdown-menu*/
.dropdown-menu{
  background-color: var(--light-background-dropdown);
  border:1px solid rgba(0,0,0,.07);
}
.dropdown-menu .dropdown-caret .caret-outer{
  border-left:9px solid transparent;
  border-right:9px solid transparent;
  border-bottom:9px solid rgba(0,0,0,.1);
}
.dropdown-menu .dropdown-caret .caret-inner{
  /*border-bottom: 9px solid #2d3143;*/
  border-left:9px solid transparent;
  border-right:9px solid transparent;
  border-bottom:9px solid var(--light-panel-break)
  /* #fafafa */
}
.dropdown-menu .buttons{
  border-bottom: 1px solid rgba(0,0,0,.07)
}
.dropdown-menu .buttons .button:focus,.dropdown-menu .buttons .button:hover{
  outline:0;
}
.dropdown-menu .buttons .button{
  background-color: transparent;
  color: var(--light-dropdown-button)
}
.dropdown-menu .buttons .button:hover{
  color: var(--light-dropdown-button-hover)
}

/*book body*/
.book-body {
  color: var(--light-element);
  background: var(--light-background-body); 
}
.book .book-body {
  color: var(--light-element);
  background: var(--light-background-body);
}
.book .book-body .page-wrapper .page-inner section {
  background: transparent;
  /*makes footer background transparent */
}
.book .book-body .page-wrapper .page-inner section.normal {
  color: var(--light-element);
}
.book .container-fluid{
  padding: 10px !important;
  background-color: transparent;
  margin: 0 0 20px 0px !important;
}
#boxer {
  background-color: var(--light-background-container)
}
.book .container-fluid h5 {
    text-align: center;
    font-size: 160%;
    margin: 10px 10px !important;
    padding: 10px;
    border: 2px solid #bcc1d2;
    color: #bcc1d2 !important;
}
.book .container-fluid h4 {
    text-align: center;
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 150%;
}
.book .container-fluid p {
  text-align:center; 
  font-size: 1.1em; 
  color: #bcc1d2
}
.book .book-body .page-wrapper .page-inner section.normal a {
  color: var(--light-element-links);
}
.book .book-body .page-wrapper .page-inner section.normal h1 {
  color: var(--light-main-headings);
  text-align:center;
  margin: 30px 0px 10px;
  padding: 5px;
  border: 2px solid var(--light-main-headings);
}
.book .book-body .page-wrapper .page-inner section.normal h2,
.book .book-body .page-wrapper .page-inner section.normal h3,
.book .book-body .page-wrapper .page-inner section.normal h4,
.book .book-body .page-wrapper .page-inner section.normal h5,
.book .book-body .page-wrapper .page-inner section.normal h6 {
  color: var(--light-element-headings);
}
.book .book-body .page-wrapper .page-inner section.normal hr {
  background-color: var(--light-element);
}
.book .book-body .page-wrapper .page-inner section.normal blockquote {
  border-color: #373b4e;
}
.book .book-body .page-wrapper .page-inner section.normal pre,
.book .book-body .page-wrapper .page-inner section.normal code {
  background: #2d3143;
  color: #9dbed8;
  border-color: #2d3143;
}
.book .book-body .page-wrapper .page-inner section.normal .highlight {
  background-color: var(--light-element-hightlight);
}
.book .book-body .page-wrapper .page-inner section.normal table th,
.book .book-body .page-wrapper .page-inner section.normal table td {
  border-color: var(--light-panel-break);
}
.book .book-body .page-wrapper .page-inner section.normal table tr {
  color: var(--light-element);
  background-color: var(--light-background-panel);
  border: none;
  border-color: #3b3f54;
}
.book .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
  background-color: var(--light-background-body);
}
.book-summary {
  border-right:1px solid rgba(0,0,0,.07);
  color: var(--light-element);
  background: var(--light-background-panel);
}

/* Begin search style */
.book .book-summary .book-search {
  background: var(--light-background-panel);
  border: 1px solid var(--light-panel-break);
  color: var(--light-element);
}
.book .book-summary .book-search input,
.book .book-summary .book-search input:focus {
  border: 1px solid var(--light-panel-break);
  background: var(--light-background-panel);
}

/*footer*/
footer{
  width: 100%;
  color: var(--light-element-footer);
  background-color: var(--light-background-footer);
  background: var(--light-background-footer);
  padding: 10px;
  justify-content: space-around;
}
#footer h6{
  border: 2px solid var(--light-element-footer);
  text-align: center;
  color: var(--light-element-footer) !important;
  font-size: 150%;
  margin: 15px;
  padding: 10px;
}
#footer ul, #footer li{
  color: var(--light-element-footer);
}
#book-search-input {
  display: block;
  
}
#book-search-input-link {
  display: none;  
  padding: 6px;
  background: var(--light-background-panel);
  color: var(--light-element);
  transition: top .5s ease;
  border-bottom: 1px solid rgba(0,0,0,.07);
  border-top: 1px solid rgba(0,0,0,.07);
  margin-bottom: 10px;
  margin-top: -1px;
}
#book-search-input-link a {
  width: 100%;
  background: var(--light-background-panel);
  border: 1px solid transparent;
  box-shadow: none;
  outline: 0;
  line-height: 38px;
  padding: 7px 7px;
  color: var(--light-element);
  /* color: #757575; */
}
#book-search-input-inside {
  padding: 6px;
  background: 0 0;
  transition: top .5s ease;
  background: var(--light-background-panel);
  border: 1px solid rgba(0,0,0,.07);
  margin-bottom: 10px;
  margin-top: -1px;
}
#book-search-input-inside input {
  width: 100%;
  background: 0 0;
  border: 1px solid transparent;
  box-shadow: none;
  outline: 0;
  line-height: 22px;
  padding: 7px 7px;
  color: var(--light-element);
}
/* end search style */

.book .book-summary ul.summary li.divider {
  background: var(--light-panel-break);
  box-shadow: none;
}
.book .book-summary ul.summary li i.fa-check {
  color: #33cc33;
}
.book-summary ul.summary li.done > a{
  color:#364149;
  font-weight:400
}
.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  color: var(--light-element); 
  background: transparent;
}
.book .book-summary ul.summary li.active > a,
.book .book-summary ul.summary li a:hover {
  color: var(--light-element-active);
  background: var(--light-element-hightlight);
}
.markdown-section{
  background-color: transparent;
}










/* ****************Theme 1**************** */
.color-theme-1 mark{
  background: var(--warm-element-hightlight);
  color: var(--warm-element)
}
/*Title*/
.book.color-theme-1 .book-summary .top-title p{
  text-align: center;
  color: var(--warm-element-title) !important;
  font-size: 18px;
}
/*Header*/
.book.color-theme-1 .book-body .book-header .fa{
  color: var(--warm-element-fa) !important;
}
.book.color-theme-1 .book-body .book-header .fa:hover {
  color: var(--warm-element-fa-hover) !important;
}
/*dropdown-menu*/
.book.color-theme-1 .dropdown-menu{
  background-color: var(--warm-background-dropdown);
  border:1px solid rgba(0,0,0,.07);
}
.color-theme-1 .dropdown-menu .dropdown-caret .caret-outer{
  border-left:9px solid transparent;
  border-right:9px solid transparent;
  border-bottom:9px solid rgba(0,0,0,.1);
}
.color-theme-1 .dropdown-menu .dropdown-caret .caret-inner{
  /*border-bottom: 9px solid #2d3143;*/
  border-left:9px solid transparent;
  border-right:9px solid transparent;
  border-bottom:9px solid var(--warm-panel-break)
  /* #fafafa */
}
.color-theme-1 .dropdown-menu .buttons{
  border-bottom: 1px solid rgba(0,0,0,.07);
  color: var(--warm-dropdown-button)
}
.color-theme-1 .dropdown-menu .buttons .button:focus,.dropdown-menu .buttons .button:hover{
  outline:0;
}
.color-theme-1 .dropdown-menu .buttons .button{
  background-color: transparent;
  color: var(--warm-dropdown-button)
}
.color-theme-1 .dropdown-menu .buttons .button:hover{
  color: var(--warm-dropdown-button-hover)
}
.color-theme-1 #footer {
  width: 100%;
  color: var(--warm-element-footer) !important;
  background: var(--warm-element-footer) !important;
  padding: 10px;
  justify-content: space-around;
}
.book.color-theme-1 .book-body {
  color: var(--warm-element);
  background: var(--warm-background-body);
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section {
  background: var(--warm-background-body);
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal {
  color: var(--warm-element);
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal a {
  color: var(--warm-element-links);
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h1 {
  color: var(--warm-main-headings);
  text-align:center;
  margin: 30px 0px 10px;
  padding: 5px;
  border: 2px solid var(--warm-main-headings);
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h2,
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h3,
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h4,
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h5,
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal h6 {
  color: var(--warm-element-headings);
}
.color-theme-1 #footer h6 {
  color: #bcc1d2 !important;
  border: 2px solid #bcc1d2;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal hr {
  background-color: var(--warm-element);
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal blockquote {
  border-color: #373b4e;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal pre,
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal code {
  background: #2d3143;
  color: #9dbed8;
  border-color: #2d3143;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal .highlight {
  background-color: var(--warm-element-hightlight);
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table th,
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table td {
  border-color: #3b3f54;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table tr {
  color: var(--warm-element);
  background-color: var(--warm-background-panel);
  border: none;
  border-color: #3b3f54;
}
.book.color-theme-1 .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
  background-color: var(--warm-panel-break);
}
.book.color-theme-1 .book-header {
  color: var(--warm-element-headings);
  text-align: justify;
  background: transparent;
}
.book.color-theme-1 .book-header h1 {
  color: var(--warm-element-headings);
}
.book.color-theme-1 .book-header .btn {
  color: #3b3f54;
}
.book.color-theme-1 .book-header .btn:hover {
  color: #fffff5;
  background: none;
}
.book.color-theme-1 .book-body .book-header {
  background: var(--warm-background-nav);
}
.book.color-theme-1 .book-body .navigation {
  color: var(--warm-element);
}
.book.color-theme-1 .book-body .navigation:hover {
  color: var(--warm-element-hover);
}
.book.color-theme-1 .book-summary {
  color: var(--warm-element);
  background: var(--warm-background-panel);
}
/*.book.color-theme-1 .book-summary {
    color: #bcc1d2 !important;
    background: #111111 !important;
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}*/

/* Begin search style */
.book.color-theme-1 .book-summary .book-search {
  background: transparent;
  border: 1px solid var(--warm-panel-break);
  color: var(--warm-element);
}
.book.color-theme-1 .book-summary .book-search input,
.book.color-theme-1 .book-summary .book-search input:focus {
  border: 1px solid var(--warm-panel-break);
  background: var(--warm-background-panel);
}

.book.color-theme-1 #book-search-input-link {
  padding: 6px;
  background: 0 0;
  background: inherit;
  transition: top .5s ease;
  color: var(--warm-element);
  border-bottom: 1px solid var(--warm-panel-break);
  border-top: 1px solid var(--warm-panel-break);
  margin-bottom: 10px;
  margin-top: -1px;
}
.book.color-theme-1 #book-search-input-link a {
  width: 100%;
  background: 0 0;
  border: 1px solid transparent;
  box-shadow: none;
  outline: 0;
  line-height: 38px;
  padding: 7px 7px;
  color: var(--warm-element);
}
.book.color-theme-1 #book-search-input {
  display: block;
  background: transparent;
}
.book.color-theme-1 #book-search-input-link {
  display: none;
  background: transparent;
}
.book.color-theme-1 #book-search-input-inside {
  padding: 6px;
  background: 0 0;
  transition: top .5s ease;
  background: #fff;
  border: 1px solid rgba(0,0,0,.07);
  margin-bottom: 10px;
  margin-top: -1px;
}
.book.color-theme-1 #book-search-input-inside input {
  width: 100%;
  background: 0 0;
  border: 1px solid transparent;
  box-shadow: none;
  outline: 0;
  line-height: 22px;
  padding: 7px 7px;
  color: var(--warm-element)
}
/* end search style */

.book.color-theme-1 .book-summary ul.summary li.divider {
  background: var(--warm-panel-break);
  box-shadow: none;
}
.book.color-theme-1 .book-summary ul.summary li i.fa-check {
  color: #33cc33;
}
.book.color-theme-1 .book-summary ul.summary li.done > a {
  color: #62687f;
}
.book.color-theme-1 .book-summary ul.summary li a,
.book.color-theme-1 .book-summary ul.summary li span {
  color: var(--warm-element); 
  background: transparent;
}
.book.color-theme-1 .book-summary ul.summary li.active > a,
.book.color-theme-1 .book-summary ul.summary li a:hover {
  color: var(--warm-element-active);
  background: var(--warm-element-hightlight);
}
.color-theme-1 .markdown-section{
  color: var(--warm-main-headings);
}







/* ****************Theme 2**************** */
.color-theme-2 mark{
  background: rgba(85,125,163) !important;
  color: var(--dark-element);
}
/*title*/
.book.color-theme-2 .book-summary .top-title p{
  text-align: center;
  color: var(--dark-element-title) !important;
  font-size: 18px;
}
/*book-header*/
.book.color-theme-2 .book-body .book-header .fa {
  color: var(--dark-element-fa);
}
.book.color-theme-2 .book-body .book-header .fa:hover {
  color: var(--dark-element-fa-hover);
}
.book.color-theme-2 .book-header {
  background-color: var(--dark-background-nav);
  text-align: justify;
}
.book.color-theme-2 .book-header h1 {
  /*navbar header */
  color: var(--dark-element-headings);
}
.book.color-theme-2 .book-header .btn {
  color: green;
  /* nothing */
}
.book.color-theme-2 .book-header .btn:hover {
  color: #fffff5;
  background: none;
}
.book.color-theme-2 .book-body .book-header {
  background: var(--dark-background-nav);
}
.book.color-theme-2 .book-body .navigation {
  color: var(--dark-element);
}
.book.color-theme-2 .book-body .navigation:hover {
  color: var(--dark-element-hover);
}
.book.color-theme-2 .book-summary {
  color: var(--dark-element);
  background: var(--dark-background-panel);
  border-right: 1px solid rgba(0,0,0,.07);
}

/*dropdown-menu*/
.book.color-theme-2 .dropdown-menu{
  background-color: var(--dark-background-dropdown);
  border:1px solid rgba(0,0,0,.07);
}
.book.color-theme-2 .dropdown-menu .dropdown-caret .caret-outer{
  border-left:9px solid transparent;
  border-right:9px solid transparent;
  border-bottom:9px solid rgba(0,0,0,.1);
}
.book.color-theme-2 .dropdown-menu .dropdown-caret .caret-inner{
  /*border-bottom: 9px solid #2d3143;*/
  border-left:9px solid transparent;
  border-right:9px solid transparent;
  border-bottom:9px solid var(--dark-panel-break)
  /* #fafafa */
}
.book.color-theme-2 .dropdown-menu .buttons{
  border-bottom: 1px solid rgba(0,0,0,.07)
}
.book.color-theme-2 .dropdown-menu .buttons .button:focus,.dropdown-menu .buttons .button:hover{
  outline:0;
}
.book.color-theme-2 .dropdown-menu .buttons .button{
  background-color: transparent;
  color: var(--dark-dropdown-button)
}
.book.color-theme-2 .dropdown-menu .buttons .button:hover{
  color: var(--dark-dropdown-button-hover)
}

/*book body*/
.book.color-theme-2 .book-body {
  color: var(--dark-element);
  background: var(--dark-background-body); 
}
.book.color-theme-2 .book-body {
  color: var(--dark-element);
  background: var(--dark-background-body);
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section {
  background: transparent;
  /*makes footer background transparent */
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal {
  color: var(--dark-element);
}
.book.color-theme-2 .container-fluid{
  padding: 10px !important;
  background-color: transparent;
  margin: 0 0 20px 0px !important;
}
.book.color-theme-2 #boxer {
  background-color: var(--dark-background-container)
}
.book.color-theme-2 .container-fluid h5 {
    text-align: center;
    font-size: 160%;
    margin: 10px 10px !important;
    padding: 10px;
    border: 2px solid #bcc1d2;
    color: #bcc1d2 !important;
}
.book.color-theme-2 .container-fluid h4 {
    text-align: center;
    display: block;
    padding: 5px;
    color: #000000;
    font-size: 150%;
}
.book.color-theme-2 .container-fluid p {
  text-align:center; 
  font-size: 1.1em; 
  color: #bcc1d2
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal a {
  color: var(--dark-element-links);
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h1 {
  color: var(--dark-main-headings);
  text-align:center;
  margin: 30px 0px 10px;
  padding: 5px;
  border: 2px solid var(--dark-main-headings);
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h2,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h3,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h4,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h5,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal h6 {
  color: var(--dark-element-headings);
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal hr {
  background-color: var(--dark-element);
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal blockquote {
  border-color: #373b4e;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal pre,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal code {
  background: #2d3143;
  color: #9dbed8;
  border-color: #2d3143;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal .highlight {
  background-color: var(--dark-element-hightlight);
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table th,
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table td {
  border-color: var(--dark-panel-break);
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table tr {
  color: var(--dark-element);
  background-color: var(--dark-background-panel);
  border: none;
  border-color: #3b3f54;
}
.book.color-theme-2 .book-body .page-wrapper .page-inner section.normal table tr:nth-child(2n) {
  background-color: var(--dark-panel-break);
}
.book.color-theme-2 .book-summary {
  border-right:1px solid rgba(0,0,0,.07);
  color: var(--dark-element);
  background: var(--dark-background-panel);
}

/* Begin search style */
.book.color-theme-2 .book-summary .book-search {
  background: var(--dark-background-panel);
  border: 1px solid var(--dark-panel-break);
  color: var(--dark-element);
}
.book.color-theme-2 .book-summary .book-search input,
.book.color-theme-2 .book-summary .book-search input:focus {
  border: 1px solid var(--dark-panel-break);
  background: var(--dark-background-panel);
}

/*footer*/
.book.color-theme-2 footer{
  width: 100%;
  color: var(--dark-element-footer);
  background-color: var(--dark-background-footer);
  background: var(--dark-background-footer);
  padding: 10px;
  justify-content: space-around;
}
.book.color-theme-2 #footer h6{
  border: 2px solid var(--dark-element-footer);
  text-align: center;
  color: var(--dark-element-footer) !important;
  font-size: 150%;
  margin: 15px;
  padding: 10px;
}
.book.color-theme-2 #footer ul, #footer li{
  color: var(--dark-element-footer);
}
.color-theme-2 #book-search-input {
  display: block;
  background: var(--dark-background-panel);
}
.book.color-theme-2 #book-search-input-link {
  display: none;  
  padding: 6px;
  background: var(--dark-background-panel);
  transition: top .5s ease;
  color: var(--dark-element);
  border-bottom: 1px solid var(--dark-panel-break);
  border-top: 1px solid var(--dark-panel-break);
  margin-bottom: 10px;
  margin-top: -1px;
}
.book.color-theme-2 #book-search-input-link a {
  width: 100%;
  background: var(--dark-background-panel);
  border: 1px solid transparent;
  box-shadow: none;
  outline: 0;
  line-height: 38px;
  padding: 7px 7px;
  color: var(--dark-element);
  /* color: #757575; */
}
.book.color-theme-2 #book-search-input-inside {
  padding: 6px;
  background: 0 0;
  transition: top .5s ease;
  background: var(--dark-background-panel);
  border: 1px solid rgba(0,0,0,.07);
  margin-bottom: 10px;
  margin-top: -1px;
}
.book.color-theme-2 #book-search-input-inside input {
  width: 100%;
  background: 0 0;
  border: 1px solid transparent;
  box-shadow: none;
  outline: 0;
  line-height: 22px;
  padding: 7px 7px;
  color: var(--dark-element);
}
/* end search style */

.book.color-theme-2 .book-summary ul.summary li.divider {
  background: var(--dark-panel-break);
  box-shadow: none;
}
.book.color-theme-2 .book-summary ul.summary li i.fa-check {
  color: #33cc33;
}
.book-summary ul.summary li.done > a{
  color:#364149;
  font-weight:400
}
.book.color-theme-2 .book-summary ul.summary li a,
.book.color-theme-2 .book-summary ul.summary li span {
  color: var(--dark-element); 
  background: transparent;
}
.book.color-theme-2 .book-summary ul.summary li.active > a,
.book.color-theme-2 .book-summary ul.summary li a:hover {
  color: var(--dark-element-active);
  background: var(--dark-element-hightlight);
}
.color-theme-2 .markdown-section{
  background-color: transparent;
}










/* *****************Theme General**************** */
/* Fonts */
.book .book-header .font-settings .font-enlarge {
  line-height: 30px;
  font-size: 1.4em;
}
.book .book-header .font-settings .font-reduce {
  line-height: 30px;
  font-size: 1em;
}
.book.font-size-0 .book-body .page-inner section {
  font-size: 1.2rem;
}
.book.font-size-1 .book-body .page-inner section {
  font-size: 1.4rem;
}
.book.font-size-2 .book-body .page-inner section {
  font-size: 1.6rem;
}
.book.font-size-3 .book-body .page-inner section {
  font-size: 2.2rem;
}
.book.font-size-4 .book-body .page-inner section {
  font-size: 4rem;
}
.book.font-family-0 {
  font-family: Georgia, serif;
}
.book.font-family-1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Search */
@media (max-width: 1240px) {
  #book-search-input {
      display: none;
      background: transparent;
  }
  #book-search-input-link {
      display: block;
      background: transparent;
  }
}

/* Render wide tables */
.table-wrapper {
  overflow-x: scroll;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 0px; /* changed from 5px*/
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  /* background-color: rgba(125, 125, 125, 0.2); */
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(7, 17, 27, .2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.2);
  -webkit-border-radius: 6px;
}

/* Tips, warnings, and dangers */
.markdown-section blockquote.block-tip {
  border-color: var(--c-tip);
  background-color: var(--c-tip-bg);
  color: var(--c-tip-text);
  font-family: var(--font-family);
}
.markdown-section blockquote.block-tip h1 {
  color: var(--c-tip-title);
}
.markdown-section blockquote.block-tip h2 {
  color: var(--c-tip-title);
}
.markdown-section blockquote.block-tip h3 {
  color: var(--c-tip-title);
}
.markdown-section blockquote.block-tip h4 {
  color: var(--c-tip-title);
}
.markdown-section blockquote.block-tip h5 {
  color: var(--c-tip-title);
}
.markdown-section blockquote.block-tip h6 {
  color: var(--c-tip-title);
}
.markdown-section blockquote.block-warning {
  border-color: var(--c-warning);
  background-color: var(--c-warning-bg);
  color: var(--c-warning-text);
  font-family: var(--font-family);
}
.markdown-section blockquote.block-warning h1 {
  color: var(--c-warning-title);
}
.markdown-section blockquote.block-warning h2 {
  color: var(--c-warning-title);
}
.markdown-section blockquote.block-warning h3 {
  color: var(--c-warning-title);
}
.markdown-section blockquote.block-warning h4 {
  color: var(--c-warning-title);
}
.markdown-section blockquote.block-warning h5 {
  color: var(--c-warning-title);
}
.markdown-section blockquote.block-warning h6 {
  color: var(--c-warning-title);
}
.markdown-section blockquote.block-danger {
  border-color: var(--c-danger);
  background-color: var(--c-danger-bg);
  color: var(--c-danger-text);
  font-family: var(--font-family);
}
.markdown-section blockquote.block-danger h1 {
  color: var(--c-danger-title);
}
.markdown-section blockquote.block-danger h2 {
  color: var(--c-danger-title);
}
.markdown-section blockquote.block-danger h3 {
  color: var(--c-danger-title);
}
.markdown-section blockquote.block-danger h4 {
  color: var(--c-danger-title);
}
.markdown-section blockquote.block-danger h5 {
  color: var(--c-danger-title);
}
.markdown-section blockquote.block-danger h6 {
  color: var(--c-danger-title);
}