<!DOCTYPE HTML>
<html lang="" xml:lang="">
    <head>
        {%- include head.html -%}
    </head>
    <body>
        <div class="book" data-toggle="collapse">
            <div class="book-summary">
                <nav role="navigation">
                    <div class="top-title">
                        <a href="{{site.baseurl}}/home"><p style="margin: 5px 0 18px 0">IMTechEd</p></a>
                         <hr>
                    </div>
                    <div id="book-search-input" role="search">
                        <input type="text" placeholder="Type to Search" />
                    </div>
                    <div id="book-search-input-link" role="search">
                        <a href="{{site.baseurl}}/assets/search.html">Click to Search</a>
                    </div>
                    <ul class="summary">
                        {% if page.url == "/index.html" or page.url == "/" %}
                        <li class="chapter active" data-level="1" data-path="{{site.baseurl}}">
                        {% else %}
                        <li class="chapter" data-level="1" data-path="{{site.baseurl}}">
                        {% endif %}
                        </li>
                        <li class="divider"></li>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/internguidepages">2023 Intern Guide</a></li>
                        <li class="divider"></li>
                        <li><a href="/pages/apache_mitlicense/">Apache/MIT Licenses</a></li>
                        <li><a href="/pages/disclaimer/">Disclaimer</a></li>
                        <li class="divider"></li>
                    </ul>
                </nav>
            </div>
            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- NavBar Title -->
                    <h1>
                    </h1>
                        </div>
                <div class="body-inner">
                    <div id=colorbar></div>
                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            <div id="book-search-results">
                                <div class="search-noresults">
                                    <section class="normal markdown-section">
                                        {{ content }}
                                        </section>
                                </div>
                                {%- include search.html -%}
                            </div>
                        </div>
                    </div>
                    {% include mathjax.html %}
                </div>
            </div>
        {%- include scripting.html -%}
        {%- include footer.html -%}
        {%- include scroll-top.html -%}
        <script>
            function screenClass() {
                if($(window).width() <  900) {
                    $( ".book" ).removeClass("with-summary");
                } else {
                    $( ".book" ).addClass("with-summary");
                }
            }
            // Fire.
            screenClass();
            // And recheck when window gets resized.
            $(window).bind('resize',function(){
                screenClass();
            });
        </script>
        <div>

            </div>
        </div>
    </body>
</html>