<!DOCTYPE HTML>
<html lang="" xml:lang="">
    <head>
        {%- include head.html -%}
    </head>
    <body>
        <div class="book">
            {%- include navandsummary.html -%}
            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- NavBar Title -->
                    <h1>
                    </h1>
                        </div>
                <div class="body-inner">
                    <div id=colorbar></div>
                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            <div id="book-search-results">
                                <div class="search-noresults">
                                    <section class="normal markdown-section">
                                        {{ content }}
                                        </section>
                                </div>
                                {%- include search.html -%}
                            </div>
                        </div>
                    </div>
                    {% include mathjax.html %}
                </div>
            </div>
        {%- include scripting.html -%}
        {%- include footer.html -%}
        {%- include scroll-top.html -%}
        </div>
        <script>
            function screenClass() {
                if($(window).width() <  1200) {
                    $( ".book" ).removeClass("with-summary");
                } else {
                    $( ".book" ).addClass("with-summary");
                }
            }
            // Fire.
            screenClass();
            // And recheck when window gets resized.
            $(window).bind('resize',function(){
                screenClass();
            });
        </script>
    </body>
</html>