<!DOCTYPE HTML>
<html lang="" xml:lang="">
    <head>
        {%- include head.html -%}

    </head>
    <body>
        <div class="book">
            {%- include toc-date.html -%}
            <div class="book-body">
                <div class="book-header" role="navigation">
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </h1>
                </div>
                <div class="body-inner">
                    <div class="page-wrapper" tabindex="-1" role="main">
                        {%- if page.cover -%}
                            <img src="{{ page.cover }}"
                                width="100%"
                                height="{{ page.cover_height | default: '100%' }}"
                                alt="{{ page.title | escape }}"
                                style="object-fit: cover;"
                            />
                        {%- endif -%}
                        <div class="page-inner">
                            <div id="book-search-results">
                                <div class="search-noresults">
                                    <section class="normal markdown-section">
                                        {% if page.title %}
                                            <h1 style="text-align:center;" id="{{ page.id }}">{{ page.title | escape }}</h1>
                                        {% else %}
                                            <h1 style="text-align:center;" id="{{ page.id }}">{{ site.title | escape }}</h1>
                                        {% endif %}
                                        {{ content }}
                                    </section>
                                </div>
                                {%- include search.html -%}
                            </div>
                        </div>
                    </div>
                    {%- include mathjax.html -%}
                    {%- comment -%}
                        {% if reversed_posts %}
                            <a href="{{site.baseurl}}{{reversed_posts.first.url}}" class="navigation navigation-next navigation-unique" aria-label="Next page: {{reversed_posts.first.title}}">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        {% endif %}
                    {%- endcomment -%}
                </div>
            </div>
            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>
        </div>
        <footer>
        {%- include footer.html -%}
        </footer>
    </body>
</html>