<!DOCTYPE HTML>
<html lang="" xml:lang="">
    <head>
        {%- include head.html -%}
    </head>
    <body>
        <div class="book">
            {%- include navandsummary.html -%}
            <div class="book-body">
                <div class="book-header" role="navigation">
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </h1>
                </div>
                <div class="body-inner">
                    {%- include body.html -%}
                </div>
            </div>
        {%- include scripting.html -%}
        {%- include footer.html -%}
        {%- include scroll-top.html -%}
        {%- include resizer.html -%}
        </div>
    </body>
</html>