<!-- Slightly Modified from _layouts/home.html -->

<!DOCTYPE HTML>
<html lang="en" >
    <head>
        {%- include head.html -%}
        {%- assign reversed_posts = site.posts | reverse -%}
        {%- if reversed_posts -%}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {%- endif -%}
    </head>
    <body>
        <div class="book">
<div class="book-summary">
    <nav role="navigation">
        <div class="top-title">
            <a href="{{site.baseurl}}/home"><p style="margin: 5px 0 18px 0">IMTechEd</p></a>
            <hr>
            </div>
        <ul class="summary">
            {%- if page.url == "/index.html" or page.url == "/" -%}
                <li class="chapter active" data-level="1" data-path="{{site.baseurl}}">
            {% else %}
                <li class="chapter" data-level="1" data-path="{{site.baseurl}}">
            {% endif %}
                </li>
            <li class="divider"></li>
            {% assign collections = site.collections | sort: "sequence" %}
            {%- for collection in collections -%}
                {%- if collection.output -%}
                    {%- if collection.label == "post" -%}
                        {% assign reversed_posts = site[collection.label] | reverse %}
                    {% else %}
                        {% assign reversed_posts = site[collection.label] %}
                    {% endif %}
                        {%- for post in reversed_posts limit:5 -%}
                            {%- if page.url == post.url -%}
                                <li class="chapter active" data-level=1 data-path="{{site.baseurl}}{{post.url}}">
                                {% else %}
                                <li class="chapter" data-level=1 data-path="{{site.baseurl}}{{post.url}}">
                            {% endif %}
                            <a href="{{site.baseurl}}{{post.url}}">
                                {{ post.title | escape }}
                            </a>
                            {%- if site.toc.enabled -%}
                                {%- if page.url == post.url -%}
                                    {%- include toc.html html=content santize=true h_min=site.toc.h_min h_max=site.toc.h_max -%}
                                {%- endif -%}
                            {% endif %}
                            </li>
                        {%- endfor -%}
                    {%- if reversed_posts.size > 0 -%}
                    <li class="divider"></li>
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
            </ul>
        </nav>
    </div>
            <div class="book-body">
                <div class="book-header" role="navigation">
                </div>
                <div class="body-inner">
                    <div class="page-wrapper" tabindex="-1" role="main">
                        <div class="page-inner">
                            <section class="normal markdown-section">
                                {% if page.title %}
                                    <h1 id="{{ page.id }}">{{ page.title | escape }}</h1>
                                {% else %}
                                    <h1 id="{{ page.id }}">{{ site.title | escape }}</h1>
                                {% endif %}
                                <br />
                            </section>
                            {{ content }}
                            <div id="book-search-results">
                                <div class="search-noresults">
                                </div>
                                {%- include search.html -%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%- include scripting.html -%}
        </div>
        <footer>
            {%- include footer.html -%}
        </footer>
    </body>
</html>
