<div>
    {% for project in site.projects %}
        {% assign loopindex = forloop.index | modulo: 2 %}
        {% if loopindex == 1 %}
            <div class="row">
                <div class="col px-1">
                    <div class="card">
                        <div class="container">
                            <h4><a href="{{ project.url }}"><em>{{ project.title }}</em></a></h4>
                            <p>{{ project.description }}
                            </div>
                        </div>
                    </div>
        {% else %}
                <div class="col px-1">
                    <div class="card">
                        <div class="container">
                            <h4><a href="{{ project.url }}"><em>{{ project.title }}</em></a></h4>
                            <p>{{ project.description }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>